body {
    font-size: 16px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
    line-height: 1.5;
}

img {
    max-height: 400px;
}

.stark {
    color: goldenrod;
}

.top {
    color: rgb(177, 3, 3);
    background-color: goldenrod;
    width: 330px;
    padding: 15px;
    margin: 20px;
}